*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    /* font-family: 'Arial', sans-serif; */
    margin: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

#catalogo, #carrito {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#catalogo img {
    max-width: 25%; 
    height: auto;
}

#opcionesCompra {
    margin-top: 20px;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.primary-header {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.primary-header a img {
    height: 30px;
    width: auto;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #666;
}

header img {
    height: 80px;
    width: auto;
}

nav {
    flex-grow: 2;
}

.navbar {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#class-container {
    display: flex;
    gap: 10px;
}

.main {
    padding: 20px;
}

.primary-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}